* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bodySection {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  flex-direction: row;
}

.top {
  height: 10vh;
  width: 100%;
  background: rgb(238, 213, 131);
}

.title {
  display: block;
  float: left;
  margin: 20px;
  text-align: center;
  font-size: 30px;
  color: brown;
  font-weight: bold;
  width: 20%;
}



